html,
body {
    width     : 98vw;
    height    : 98vh;
    background: rgb(18, 18, 18);
}

.live2d {
    position: fixed;
    bottom  : 3vh;
    right   : 2vw;
}

.search-tab {
    width          : 100%;
    height         : 10%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;
}

.search-tab .search-input {
    width        : 30vw;
    height       : 3.5vh;
    border-radius: 10px;
    font-size    : 20px;
}

.search-tab .user-info {
    position     : absolute;
    display      : flex;
    align-items  : center;
    bottom       : 0px;
    left         : 5px;
    background   : linear-gradient(to right, #4682B4, #D4F2E7);
    border-radius: 10px;
    padding      : 2px 50px 2px 5px;
    cursor       : pointer;
}

.search-tab .user-info img {
    width        : 50px;
    border-radius: 50%;
}

.search-tab .user-info p {
    line-height: 1;
    color      : #2F4F4F;
    font-size  : 17px;
    margin-left: 10px;
}

.search-tab .search-input::placeholder {
    font-size  : 16px;
    color      : #aeaeae;
    font-family: cursive;
}

.search-tab .search-icon {
    width       : 30px;
    height      : 30px;
    margin-right: 10px;
}

.search-tab .search-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.container {
    width  : 100%;
    height : 90%;
    display: flex;
}

.container>div {
    background-color: rgb(39, 39, 39);
    margin          : 0 5px;
    padding         : 10px;
    overflow-y      : auto;
    position        : relative;
}

.container>div::-webkit-scrollbar {
    display: none;
}

.container .left {
    flex: 1;
}

.container .center {
    flex: 3;
}

.container .right {
    flex: 1;
}

.container .container-item {
    height       : 70px;
    background   : linear-gradient(to right, #4682B4, #D4F2E7);
    padding      : 1px 5px;
    border-radius: 5px;
    margin       : 10px 0;
}

.container .container-item:hover {
    opacity: 0.6;
}

.container-item .container-introduce {
    /* overflow        : hidden;
    text-overflow   : ellipsis;
    -o-text-overflow: ellipsis;
    white-space     : nowrap; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    display           : -webkit-box;
}

.left-view {
    position        : fixed;
    bottom          : 1%;
    width           : 320px;
    height          : 200px;
    background-color: rgb(69, 69, 69);
    border-radius   : 5px;
    display         : none;
}

.left-view .view-tab {
    width           : 100%;
    height          : 20px;
    border-radius   : 5px 5px 0 0;
    background-color: rgb(50, 50, 50);
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : flex-end;
}

.left-view .view-tab>div {
    width        : 10px;
    height       : 10px;
    border-radius: 50%;
    margin       : 0 5px;
}

.left-view .view-tab .max {
    background-color: seagreen;
}

.left-view .view-tab .min {
    background-color: orange;
}

.left-view .view-tab .close {
    background-color: orangered;
}

.reload {
    background     : url("../images/icon/reload.png");
    width          : 20px;
    height         : 20px;
    background-size: contain;
    position       : absolute;
    top            : 70%;
    left           : 19%;
    z-index        : 9999;
    /* animation: reload 2s; */
}

@keyframes reload {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}